
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "animate.css";
/* fonts */
@font-face {
    font-family: 'Montserrat-bold';
    src: url('/fonts/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.otf');
}
/* */


/* colors */
$lightblue: #00A4E4;
$cyan: #5fb0b2;
$blue: #1665A4;
$black: #272727;
$white: #ffffff;
$bricot: #08979A;
$thomas: #0088BE;
$cecile: #E77C3A;
$red: #B13712;
$blue2: #0F7197;
$lightblue2: #17AAE3;
$gray: #E7E7E7;
$darkgray: #777777;
/* */

/* break points */
$wide-screen-down: '(max-width: 1199px)';
$desktop-down: '(max-width: 991px)';
$tablet-down: '(max-width: 767px)';
$phone-down: '(max-width: 480px)';
$small-phone-down: '(max-width: 320px)';
/* */

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background: $white;
    * {
        font-family: 'Montserrat';
    }
}
.header.fixed {
    position: fixed;
    z-index: 99999;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    .spacer {
        height: 15px;
    }
    .content {
        .logo_header {
            img {
                min-height: 100px;
                height: 100px;
            }
        }
    }
}

.header {
    
    .spacer {
        background: $lightblue;
        display: block;
        height: 20px;
        width: 100%;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        .logo_header {
            img {
                width: auto;
                min-height: 115px;
                height: 115px;
                transition: 1s all ease-in-out;
            }
        }
        .menu_cont {
            .menu {
                padding: 0;
                list-style: none;
                .item {
                    display: inline;
                    margin: 0 2rem;
                    .link.active {
                        border-bottom: 1px solid $darkgray;
                    }
                    .link {
                        padding: .5rem;
                        font-family: 'Montserrat';
                        text-decoration: none;
                        cursor: pointer;
                        color: $black;
                    }
                }
            }
        }
        .menu_mobile_button {
            display: none;
        }
        .menu_mobile_cont {
            display: none;
        }
    }
}

#page_home { 
    padding: 0;
    .banner {
        // background: $blue;
        background: rgb(22,101,164);
        background: -moz-linear-gradient(210deg, rgba(22,101,164,1) 0%, rgba(22,101,164,1) 0%, rgba(31,146,240,1) 100%);
        background: -webkit-linear-gradient(210deg, rgba(22,101,164,1) 0%, rgba(22,101,164,1) 0%, rgba(31,146,240,1) 100%);
        background: linear-gradient(210deg, rgba(22,101,164,1) 0%, rgba(22,101,164,1) 0%, rgba(31,146,240,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1665a4",endColorstr="#1f92f0",GradientType=1);
        padding: 1rem 30px;
        position: relative;
        min-height: 500px;
    
        .floating-top {
            position: absolute;
            top: 2rem;
            left: 40px;
            img {
                height: 200px;
                width: auto;
            }
        }
        .floating-left {
            position: absolute;
            top: 160px;
            left: 30px;
            img {
                height: 180px;
                width: auto;
            }
        }
        .floating-bottom {
            position: absolute;
            top: 270px;
            left: 40px;
            img {
                height: 200px;
                width: auto;
            }
        }
        .title {
            margin-left: 300px;
            h1 {
                font-family: 'Montserrat';
                color: $white;
                font-size: 3rem;
                margin-top: 7rem;
                margin-bottom: 1rem;
                letter-spacing: .15rem;
            }
            h6 {
                font-family: 'Montserrat';
                color: $white;
                font-size: 2.25rem;
                margin-top: 0;
                margin-bottom: 0;
                letter-spacing: .15rem;
            }
        }
    
        .subtitles {
            position: relative;
            margin-top: 5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h4 {
                font-family: 'Montserrat-bold';
                color: $white;
                font-size: 1.5rem;
                margin-top: .5rem;
                margin-bottom: 0;
                letter-spacing: .15rem;
            }
        }
    }
}


#page_about {
    margin-top: 3rem;
    margin-bottom: 4rem;
    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 3rem;
        color: $cyan;
    }
    h5 {
        color: $cyan;
        font-weight: 700;
        font-size: 1.1rem;
    }

    .blue-title {
        color: $cyan;
        font-weight: bold;
    }

    p {
        font-family: 'Montserrat';
        font-size: .9rem;
        text-align: justify;
        color: $black;
    }

    ul {
        list-style: none; /* Remove default bullets */
        li {
            position: relative;
            p {
                font-family: 'Montserrat';
                display: inline-block;
                margin: 0;
            }
        }
      }
      
      ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $cyan; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */ 
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
        position: absolute;
      }

    .list {
        padding-left: 1rem;
    }
}

#page_ponents {
    margin-bottom: 4rem;
    margin-top: 3rem;

    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 3rem;
        color: $cyan;
    }

    .card-ponent {
        margin-bottom: 100px;
        .ponent_photo {
            text-align: center;
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: auto;
                left: 0;
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
            }
        }
    
        .ponent_text {
            .text_title {
                font-family: 'Montserrat-bold';
                color: $cyan;
                font-size: 1.5rem;
                letter-spacing: 2px;
            }
            p {
                font-family: 'Montserrat';
                color: $black;       
                text-align: justify;     
            }
        }

    }
    
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $gray; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $blue2;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $blue2; 
}

.page_program {
    margin-bottom: 3rem;
    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 3rem;
        color: $cyan;
    }
    .ponent_name {
        font-family: 'Montserrat-bold';
        margin-bottom: 0;
    }
    .cyan-text {
        font-family: 'Montserrat-bold';
        color: $cyan;
        display: block;

    }
    .modulescont {
        margin-top: 2rem;
        .modules {
            display: block;
            text-decoration: none;
            color: $white;
            background: $blue2;
            margin-bottom: 1rem;
            padding: 1rem 0;
            text-align: center;
        }
    }
    ul {
        list-style: none; /* Remove default bullets */
        li {
            ul li::before {
                content: "\2013";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: $cyan; /* Change the color */
                font-weight: 300; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */ 
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
        }
    }

    ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $cyan; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */ 
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
}

#page_certifications {
    margin-bottom: 3rem;
    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 3rem;
        color: $cyan;
    }
    .certificate {
        img {
            width: 125px;
        }
        .head_title {
            font-family: 'Montserrat-bold';
            margin-top: 1rem;
            letter-spacing: 1px;
            font-size: 1.15rem;
            color: $black;
        }
        p {
            font-family: 'Montserrat';
            color: $black;
        }
        ul {
            list-style: none; /* Remove default bullets */
            li {
                p {
                    display: inline-block;
                    font-family: 'Montserrat';
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }
        ul li::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $cyan; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */ 
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
        }
    }
}

#page_contact {
    margin-bottom: 3rem;
    margin-top: 2rem;

    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 3rem;
        color: $cyan;
    }

    .info_text {
        font-family: 'Montserrat';
        text-align: justify;
    }

    .phone, .email, .fb {
        text-decoration: none;
        color: $blue;
        text-align: center;
        display: block;
        font-size: 1rem;
        margin: 1rem 0;
        img {
            width: 50px;
            margin-right: .5rem;
            display: inline;
        }
        span {
            display: inline;
            font-family: 'Montserrat';
        }
    }

    .images_cont {
        position: relative;
        height: 637px;
        .thomas_img {
            width: 200px;
            position: absolute;
            top: 0;
            right: 0;
        }
        .bricot_img {
            width: 200px;
            position: absolute;
            top: 205px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        .cecile_img {
            width: 200px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    #close_contact {
        border-radius: 10px;
        border: 1px solid $darkgray;
        padding: .5rem 1rem;
        margin: 0 auto;
        display: none;
        text-decoration: none;
        font-family: 'Montserrat';
        color: $darkgray;
        transition: 1s all ease-in-out;
    }

    #form_contact {
        border-radius: 10px;
        border: 1px solid $darkgray;
        padding: .5rem 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-right: auto;
        margin-left: auto;
        display: table;
        text-decoration: none;
        font-family: 'Montserrat';
        color: $darkgray;
        transition: 1s all ease-in-out;
    }

    .form_content{
        margin: 2rem 0;
        display: none;
        transition: 1s all ease-in-out;
        #form_info {
            border-radius: 15px;
            border: 1px solid $gray;
            padding: 2rem;
            .content {
                .form_title {
                    font-family: 'Montserrat-bold';
                    color: $black;
                    text-align: center;
                    margin-bottom: 1rem;
                }

                .form-row {
                    width: 100%;
                    margin-bottom: 10px;
                    input, textarea {
                        width: 100%;
                        font-family: 'Montserrat';
                        border-radius: 10px;
                        border: 1px solid $darkgray;
                        padding: .5rem 1rem;
                    }
                    textarea {
                        min-height: 125px;
                    }
                }
                .form-row2 {
                    width: 100%;
                    margin-bottom: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -5px;
                    margin-left: -5px;
                    justify-content: space-between;
                    input {
                        width: 48.5%;
                        font-family: 'Montserrat';
                        border-radius: 10px;
                        border: 1px solid $darkgray;
                        padding: .5rem 1rem;
                        display: inline-block;
                    }
                }
                .submit-button {
                    background: $white;
                    border-radius: 10px;
                    border: 1px solid $darkgray;
                    font-family: 'Montserrat';
                    padding: .5rem 1rem;
                }
            }
        }
    }
    
}


@media #{$wide-screen-down} {  }
@media #{$desktop-down} {  }
@media #{$tablet-down} {  }
@media #{$phone-down} { 
    .header {
        .spacer {
            height: 10px;
        }
        .content {
            padding: 10px 15px;
            .logo_header {
                img {
                    min-height: 70px;
                    height: 70px;
                }
            }

            .menu_cont {
                display: none;
                .menu {
                    .item {
                        .link {
                            font-size: .8rem;
                        }
                    }
                }
            }
            .menu_mobile_button {
                display: block;
                img {
                    height: 30px;
                }
            }
            .menu_mobile_cont {
                transition: 1s all ease-in-out;
                &.open {
                    display: flex;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    justify-content: center;
                    align-items: center;
                    z-index: 999;
                    background: $white;
                }
                &.close {
                    display: none;
                    transition: 1s all ease-in-out;
                }
                .menu_mobile {
                    list-style: none;
                    transition: 1s all ease-in-out;
                    .item {
                        transition: 1s all ease-in-out;
                        margin-top: 2rem;
                        .link {
                            transition: 1s all ease-in-out;
                            padding: .5rem;
                            font-family: 'Montserrat';
                            text-decoration: none;
                            cursor: pointer;
                            color: $black;
                        }
                    }
                }
                .close_menu_button {
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    img {
                        height: 25px;
                    }
                }
            }
        }
    }

    #page_home {
        .banner {
            min-height: calc(100vh - 100px);
            padding-top: 4rem;
            .floating-top {
                left: 20px;
                img {
                    height: 100px;
                }
            }
            .floating-left {
                top: 90px;
                left: 15px;
                img {
                    height: 90px;
                }
            }
            .floating-bottom {
                top: 140px;
                left: 20px;
                img {
                    height: 100px;
                }
            }
            .title {
                margin-left: 32%;
                h1 {
                    font-family: 'Montserrat';
                    color: $white;
                    font-size: 1.25rem;
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                    letter-spacing: .1rem;
                }
                h6 {
                    font-family: 'Montserrat';
                    color: $white;
                    font-size: 1.25rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    letter-spacing: .1rem;
                }
            }
        
            .subtitles {
                position: absolute;
                bottom: 2rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;
                left: 0;
                right: 0;
                h4 {
                    font-family: 'Montserrat-bold';
                    color: $white;
                    font-size: 1.15rem;
                    margin-top: .5rem;
                    margin-bottom: 0;
                    letter-spacing: .15rem;
                    text-align: center;
                }
            }   
        }
    }

    #page_about {
        .title {
            font-size: 1.5rem;
            text-align: center;
        }
        p {
            text-align: justify;
        }
    }

    #page_ponents {
        .title {
            font-size: 1.5rem;
            text-align: center;
        }
        .card-ponent {
            margin-bottom: 2rem;
            .ponent_photo { 
                img {
                    position: relative;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    #page_program {
        .title {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    #page_certifications {
        .title {
            margin-top: 1rem;
            font-size: 1.5rem;
            text-align: center;
        }
        .certificate {
            margin-bottom: 2rem;
            img {
                margin: 0 auto;
                display: block;
                width: 90px;
            }
        }
    }

    #page_contact {
        .title {
            font-size: 1.5rem;
            text-align: center;
        }
        .images_cont {
            .bricot_img {
                margin: unset;
            }
        }
    }
 }

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff; 
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Montserrat';
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}